layer-compose-bar layer-menu-button span {
  font-size: 28px;
}

layer-message-item-sent .layer-root-viewer.layer-card-width-any-width > layer-standard-message-view-container > .layer-card-top {
  background-color: #00B188 !important;
}


layer-compose-bar .layer-button-panel button:hover {
  color: #00B188;
}
layer-compose-bar .layer-button-panel layer-send-button,
layer-compose-bar .layer-button-panel button {
  color: #00B188 !important;
}
layer-compose-bar .layer-button-panel layer-send-button.layer-send-button-has-value,
layer-compose-bar .layer-button-panel button.layer-send-button-has-value {
  color: #00B188 !important;
}


layer-message-viewer.layer-feedback-message-view.layer-feedback-enabled .layer-card-top {
  color: #00B188 !important;
}
layer-message-viewer.layer-feedback-message-view.layer-feedback-enabled .layer-card-top span:hover {
  color: #00B188 !important;
}
layer-feedback-message-expanded-view.layer-feedback-enabled .layer-feedback-message-view-ratings {
  color: #00B188 !important;
}
layer-feedback-message-expanded-view.layer-feedback-enabled .layer-feedback-message-view-ratings span:hover {
  color: #00B188 !important;
}
layer-feedback-message-expanded-view layer-action-button button {
  background-color: #00B188 !important;
}
layer-feedback-message-expanded-view layer-action-button button:hover:not(:disabled) {
  background-color: #00B188 !important;
}
layer-url-button button {
  color: #00B188 !important;
}

layer-action-button button:focus,
layer-url-button button:focus,
layer-action-button button:active,
layer-url-button button:active {
  color: #00B188 !important;
}
layer-action-button button:hover,
layer-url-button button:hover {
  color: #00B188 !important;
}

layer-action-button.layer-action-button-selected button,
layer-url-button.layer-action-button-selected button {
  background-color: #00B188 !important;
}
layer-compose-bar.layer-is-empty layer-send-button {
  color: #a4a8b2 !important;
}

layer-message-list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}


layer-message-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}
